{% extends 'base.html.twig' %}

{% block title %}Hello AstroController!{% endblock %}

{% block body %}
{{ form(form)}}
{% if response is defined %}
    <div class="response">
        <h2>Response</h2>
        <p>{{ response|raw }}</p>
    </div>
{% else %}
    <div class="no-response">
        <p>No response available.</p>
    </div>

{% endif %}
{% endblock %}
